# Ignore C# build folders
bin/
obj/

# Ignore personal VS Code settings 
.vscode/

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db
appsettings.Development.json
**/appsettings.Development.json
secrets.json